.faq-parent {
  margin-top: 100px;
  margin-left: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-list {
  width: 100%; /* 필요에 따라 너비를 조정 */
  max-width: 800px; /* 너무 넓어지지 않도록 최대 너비 설정 */
}

.faq-card {
  display: flex;
  margin-top: 10px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: column;
}

.faq-title {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.faq-answer {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  border: 0px solid rgba(225, 228, 230, 0.5);
  border-top-width: 1px;
}

.faq-none {
  display: none;
}

.question-mark {
  color: rgb(12, 77, 162);
  font-size: 20px;
  margin-right: 10px;
}

.answer-mark {
  color: red;
  font-size: 20px;
  margin-right: 10px;
}
