.box {
  margin: 30px 0;
}

.table {
  line-height: 1.5;
  margin: 0 auto; /* 테이블을 가로로 가운데 정렬 */
}

.text {
  width: 75%;
  padding: 30px;
  border-bottom: 1px solid #ccc;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
}

.date {
  text-align: justify;
  color: black;
}
