@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.mypageContainer {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #2e2c2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* 사이드바를 고정 */
  top: 70px; /* 헤더 높이만큼 위쪽 패딩 추가 */
  left: 0;
  height: calc(100vh - 70px); /* 헤더 높이를 뺀 만큼 높이 설정 */
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.sidebarButton {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #7d7e80;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  color: #e3e4e6;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebarButtonActive {
  background-color: #e3e4e6;
  color: #2e2c2f;
}

.sidebarButton:hover {
  background-color: #e3e4e6;
  color: #2e2c2f;
}

.contentContainer {
  flex: 1;
  margin-left: 220px; /* 사이드바 너비만큼 왼쪽 마진 추가 */
  padding: 40px;
  background-color: #e9eae8;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  margin-bottom: 20px;
  color: #2e2c2f;
}

form {
  display: flex;
  flex-direction: column;
}

formLabel {
  margin-bottom: 5px;
  color: #2e2c2f;
}

formInput {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #7d7e80;
  border-radius: 4px;
}

formButton {
  padding: 10px;
  background-color: #7d7e80;
  color: #e3e4e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

formButton:hover {
  background-color: #2e2c2f;
  color: #e3e4e6;
}

.followedTeams {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.followedTeamItem {
  text-align: center;
}

.followedTeamImage {
  max-width: 100px;
  margin-bottom: 10px;
}
